PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/glowy
JWT_SECRET=your_jwt_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
CLOUDINARY_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_SECRET=your_api_secret
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
